<%= link_to('<< Back to List', { action: 'index' }) %>
<div>
  <h2>Show Project</h2>
  <table>
    <tr>
      <th>id</th>
      <td><%= @project.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @project.name %></td>
    </tr>
    <tr>
      <th>Details</th>
      <td><%= @project.details %></td>
    </tr>
  </table>
</div>